@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.whole{
    border-radius: 5px;
    border-width: 1px;
    border-style:solid;
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: beige;
    left: 50%;
    top: 200px;
    transform: translatex(-50%);
    padding: 10px;
}
h1{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', Courier, monospace;
   
}
body{
    position: relative;
    background-color: antiquewhite;
}
label{
    margin-right: 10px;
    margin-left: 10px;
}

#container{
    margin-bottom: 5px;
    font-size: larger;
    font-family: 'Lato', Courier, monospace;
}
#tekst2{
    font-family: 'Lato', Courier, monospace;
    font-weight: bold;

}





